body{
    background: #f4f4f4;
}

#main-navbar{
    top: 0px;
    color: white;
    position: fixed;
    background: #E55d4d;
    width: 100%;
    z-index: 1;
}

#main-navbar h2{
    color: white;
    padding: 0px 30px 0px 20px;
}

#main-navbar .nav-link {
    color:white;
    padding: 20px 20px 20px 20px ;
}

#main-navbar .dropdown-bg-color {
    background: #E55d4d;
    color:white;
    opacity: 80%;
}

#main-navbar .nav-link:hover{
    background: white;
    color: #E55d4d;
    opacity: 70%;
}

#main-navbar .search-container{
    margin-top: 2px;
    width: 25rem;
    padding: 6px;
    border-radius: 5px;
}

#main-navbar .bg-transparent{
    background: white;
}

#main-navbar{
    border-bottom: 3px solid white;
}



#header-section{
    background: white;
    margin-top: 70px;
}

#header-section .carousel-inner img {
    width: 100%;
    height: 100%;
}

#services-section img{
    height: 100px;
}

#services-section .border-line{
    border-right: 2px inset #E55d4d;
}


#section-title b{
    display: block;
    flex: 1;
    height: 2px;
    opacity: 0.3;
    background-color: #555555;
    font-weight: bolder;
}

#section-title .section-title{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

#section-title span {
    margin-right: 15px;
}

#section-body .card-width{
    width: 100%;
    margin-bottom: 5px;
}

#section-body img{
   height: 300px;
}

#section-body .btn-width-100{
    width: 100%;
    background-color: #E55d4d;
    color: white;
    font-weight: bolder;
}

.f-right{
    float: right;
}

.modal-button-width{
    width: 100%;
}

.bg-theme{
    background-color: #E55d4d;
    color: white;
    opacity: 90%;
}

.modal-a{
    color: white;
    font-weight: bold;
    font-size: larger;
}

.dropdown-menu{
    width: 200px;
}

.dropdown-menu li{
    border-bottom: 1px solid white;
}

#header-about {
    margin-top: 70px;
}

#header-about .bg-image{
    background-image: url(./img/about.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

#header-about .overlay-dark{
    background: rgba(0,0,0,0.7);
    background-position: center;
    width: 100%;
    height: 600px;
}

#header-about .header-content{
    padding-top: 200px;
    color: white;
    text-align: center;
    opacity: 90%;
}

#about-description h2{
    color: #E55d4d;
    padding-top: 20px;
}

#about-description p{
    padding: 20px 50px 10px 50px;
    font-size: 18px;
}


#header-contact {
    margin-top: 70px;
}

#header-contact .bg-image{
    background-image: url(./img/contact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
}

#header-contact .overlay-dark{
    background: rgba(0,0,0,0.7);
    background-position: center;
    width: 100%;
    height: 400px;
}

#header-contact .header-content{
    padding-top: 150px;
    color: white;
    text-align: center;
    opacity: 90%;
}

#header-contact .header-content p{
    margin: 0px 20px 0px 20px;
}

#contact-description h2{
    color: #E55d4d;
    padding-top: 20px;
}

#contact-description p{
    padding: 20px 100px 10px 100px;
    font-size: 18px;
}

.top-spacing{
    margin-top: 70px;
}